//COMFORTAA
@font-face {
    font-family: C4;
    src: url(../assets/fonts/Comfortaa-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: C7;
    src: url(../assets/fonts/Comfortaa-Bold.ttf);
    font-weight: 700;
}

//MONTSERRAT
@font-face {
    font-family: M4;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: M7;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

//ROBOTO
@font-face {
    font-family: R4;
    src: url(../assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: R5;
    src: url(../assets/fonts/Roboto-Medium.ttf);
    font-weight: 500;
}